<div class="container">
  <h1>Control Flow</h1>

  <!-- if -->

  @if(isLoggedIn) {
  <p>Welcome : {{ userName }}</p>
  <button class="btn btn-danger" (click)="logout()">Logout</button>

  } @else{
  <button class="btn btn-primary" (click)="login()">Login</button>
  }

  <!-- for -->

  @for(prd of products ; track prd.id ; let i = $index) {
  <!-- <p>{{ i + 1 }} - {{ prd.name }}</p> -->

  <div class="card">
    <div class="card-header">{{ i + 1 }} - {{ prd.name }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ prd.price }}</h5>
      <p class="card-text">
        {{ prd.quantity }}
      </p>
    </div>
  </div>

  }

  <!-- switch -->

  @switch(role) { @case('admin') {
  <p>Your role is Admin</p>
  } @case('user') {
  <p>Your role is User</p>
  } @case('guest') {
  <p>Your role is Guest</p>
  } @default {
  <p>Unknown</p>
  } }
</div>
